body{
    margin: 0;
    padding: 0;
    background-color:rgba(25, 42, 86,1.0)
}
.header-section{
    background: linear-gradient( to right, rgba(34, 47, 62,0.4),rgba(34, 47, 62,0.4)), url(./images/cover2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}
.title-text{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 4em;
    text-shadow: 3px 4px #004D98;
    letter-spacing: 3px;
    color: #A50044;
}
.card-heading-text{
    color: #A50044;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Bebas Neue', cursive;
}
.card-container{
    background-color: #A50044;
}
.player-stats{
    color: #EDBB00;
    font-family: 'Acme', sans-serif;
}
.captain{
    font-size: 15px;
    color: #004D98;
    text-shadow: 1px 1px #EDBB00;
}
.select-btn{
    font-weight: 700;
    padding: 3px 30px;
    border: none;
    border-radius: 2px;
    background-color: #718093;
}
.li-div{
    height: 155px;
    border: 4px solid #004D98;
}
.li-div ul>li{
    font-size: 1.2em;
    color: #EDBB00;
    font-weight: 700;
    font-family: 'Acme', sans-serif;
    list-style: decimal;
}
.calc-div{
    padding: 10px 5px;
}
.calc-section{
    background-color: #A50044;
    border-radius: 5px;
}
.input-field{
    background-color: #004D98;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 75%;
    margin-bottom: 10px;
    color: #EDBB00;
    font-weight: 500;
}
.input-description{
    font-size: 1.1em;
    color: #EDBB00;
    font-weight: 500;
}
.budget-text{
    color: #EDBB00;
    font-weight: 800;
    font-family: 'Acme', sans-serif;
}
.list-container{
    background: none;
}
.player-expenses{
    display: flex;
}
.calc-btn{
    display: block;
    margin: 10px auto;
    padding: 3px 10px;
    border: none;
    border-radius: 2px;
    background-color: #004D98;
    color: #EDBB00;
    font-weight: 800;
    
}
.footer-text{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    color: #EDBB00;
    font-size: 3em;
    font-weight: 700;
}
.footer-icon{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 5px;
}